body {
margin: 0 auto;
display: flex;
justify-content: center;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.card {
  margin: 50px;
  width: 200px;
  height: 200px;
  transition: all 0.2s;
  perspective: 900px;
  position: relative;
}

.front, .back {
  /*padding: 10px;*/
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all 0.4s;
}

/*img {
  width: 80%;
}*/

.front {
  background: teal;
}

.back {
  background: #c3c3c3;
}
/*/////////////////////////////////////////////////*/
/*FLIP CARD ANIMATION*/
.front {
  transform: rotateY(-180deg);
}

.flipped .front {
  transform: rotateY(0deg);
}

.flipped .back {
  transform: rotateY(180deg);
}
/*/////////////////////////////////////////////////*/
